.sign-dialog-title {
    font-family: 'Yeseva One', serif;
    font-size: 30px;
    color: #011936;
}

.sign-dialog-exit {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sign-dialog-fm {
    margin-top: 60px;
}

.sign-dialog-fm label,
.reg-buyer-fm label,
.confirm-title {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2;
    color: #011936;
}

.sign-dialog-fm label span,
.reg-buyer-fm label span {
    display: block;
    font-size: 14px;
    color: #84A6C2;
}

.sign-dialog-fm input,
.reg-buyer-fm input {
    width: 482px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    border: 1px solid #84A6C2;
    border-radius: 50px;
    outline: none;
    font-size: 14px;
    color: #84A6C2;
}

.sign-dialog-fm input::placeholder {
    color: #84A6C2;
}

.sign-dialog-fm button {
    width: 123px;
    margin-left: 15px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    background-color: #FDAD6D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: #5E2D07;
}

.sign-dialog-social {
    margin-top: 60px;
}

.sign-dialog-social .social-title {
    font-size: 16px;
    color: #011936;
}

.sign-dialog-social .social-box {
    margin-top: 20px;
    gap: 10px;
}

.sign-dialog-social .social-link {
    display: block;
    width: 200px;
    height: 40px;
    padding-left: 78px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    background-color: #DCEBF8;
    background-repeat: no-repeat;
    border-radius: 10px;
    font-size: 16px;
    color: #43607C;
}

.sign-dialog-social .social-link:nth-child(1) {
    background-image: url("/public/images/social-sign1.svg");
    background-position: 45px center;
}

.sign-dialog-social .social-link:nth-child(2) {
    background-image: url("/public/images/social-sign2.svg");
    background-position: 45px center;
}

.singn-dialog-change, .second-send-btn {
    display: block;
    width: fit-content;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: #84A6C2;
}

.registration-main-item {
    max-width: 620px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 49px;
    padding-right: 50px;
    border-radius: 10px;
}

.registration-main-item:nth-child(2) {
    margin-top: 40px;
    background-color: #DCEBF8;
}

.registration-main-item:nth-child(3) {
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: #FFE2CA;
}

.registration-main-item .reg-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;

}

.registration-main-item .reg-subtitle {
    font-size: 14px;
}

.registration-main-item:nth-child(2) .reg-title,
.registration-main-item:nth-child(2) .reg-subtitle {
    color: #43607C;
}

.registration-main-item:nth-child(3) .reg-title,
.registration-main-item:nth-child(3) .reg-subtitle {
    color: #5E2D07;
}

.registration-main-item .reg-btn {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.registration-main-item:nth-child(3) .reg-btn svg path {
    fill: #5E2D07;
}

.reg-buyer-fm {
    margin-top: 60px;
    flex-direction: column;
    gap: 60px;
}

.reg-buyer-fm .fname-block input {
    width: 620px;
}

.reg-buyer-fm .phone-block {
    align-items: last baseline;
    gap: 15px;
}

.reg-buyer-send {
    display: block;
    width: 123px;
    height: 40px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    background-color: #FDAD6D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    color: #5E2D07;
}

.confirm-title {
    margin-top: 40px;
}

.confirm-code {
    margin-top: 20px;
}

.confirm-code-item {
    width: 40px;
    height: 50px;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #84A6C2;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    color: #43607C;
}

.confirm-code-item:nth-child(3) {
    margin-right: 30px;
}

.confirm-code-item:nth-child(6) {
    margin-right: 0;
}

.second-send-btn {
    margin-top: 40px;
}

.cofirm-btn {
    display: block;
    width: 250px;
    margin-top: 10px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    background-color: #FDAD6D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    color: #5E2D07;
}

.confirm-wrong-code {
    margin-top: 15px;
    font-weight: 700;
    font-size: 18px;
    color: #DC143C;
}