.home-main {
    margin-top: 40px;
}

.home-main-title {
    max-width: 463px;
    font-family: 'Yeseva One', serif;
    font-size: 42px;
    line-height: 1.2;
    color: #000000;
}

.home-main-desc {
    max-width: 463px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.4;
    color: #43607C;
}

.home-main-fm {
    width: 842px;
    height: 50px;
    margin-top: 30px;
    border: 1px solid #DFDFDF;
}

.home-main-fm input {
    width: 84%;
    height: 48px;
    padding-top: 5px;
    padding-left: 18px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #43607C;
}

.home-main-fm button {
    width: 132px;
    height: 47px;
    margin-left: 2px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #FDAD6D;
    border: 1px solid #FDAD6D;
    font-size: 18px;
    color: #8E4A4E;
}

.home-main-tags {
    max-width: 818px;
    margin-top: 30px;

    flex-wrap: wrap;
    gap: 10px;
}

.tags-else {
    width: 178px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 1.4;
    color: #8E4A4E;
}

.home-main-categories {
    margin-top: 65px;
}

.home-main-categories .main-categories-actions {
    gap: 5px;
    margin-left: 93%;
}

.home-main-categories .main-categories-actions button {
    display: block;
    width: 24px;
    height: 24px;
    padding-top: 6px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.home-main-categories .main-categories-box {
    margin-top: 15px;
    gap: 20px;
}

.home-main-categories .categories-item-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #43607C;
}

.home-bl {
    margin-top: 80px;
}

.home-bl-title {
    font-family: 'Yeseva One', serif;
    font-size: 35px;
    color: #000000;
}

.home-bl-actions {
    gap: 40px;
}

.home-bl-all {
    display: block;
    width: 158px;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    background-color: #DCEBF8;
    border: 1px solid #DCEBF8;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    color: #43607C;
}

.home-bl-arrows {
    gap: 5px;
}

.home-bl-arrows button {
    display: block;
    width: 24px;
    height: 24px;
    padding-top: 6px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.home-bl-box {
    margin-top: 30px;
}

.home-registration {
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #DCEBF8;
}

.home-registration-title {
    font-family: 'Yeseva One', serif;
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
    color: #000000;
}

.home-registration-desc {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    color: #43607C;
}

.home-registration-btn {
    display: block;
    width: 280px;
    margin: 20px auto;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #43607C;
    border: 1px solid #43607C;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}

.confectioners-item {
    max-width: 475px;
    padding: 15px;
    gap: 25px;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
}

.confectioners-item-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #43607C;
}

.confectioners-item-reviews {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.2;
    color: #A63A50;
}

.confectioners-item-desc {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.2;
    color: #43607C;
}

.confectioners-item-tags {
    margin-top: 20px;
    gap: 5px;
}

.articles-item {
    max-width: 280px;
    flex-direction: column;
    padding-bottom: 15px;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
}

.articles-item-title,
.articles-item-desc {
    margin-top: 20px;
    margin-left: 16px;
    color: #43607C;
}

.articles-item-title {
    font-weight: 700;
    font-size: 16px;
}

.articles-item-desc {
    font-size: 14px;
}