.confectioner-item {
    flex-direction: column;
    width: 298px;
    height: 479px;
    padding: 48px 0;
    font-family: Verdana, sans-serif;
    text-align: center;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
}

.confectioner-item-title {
    font-weight: 700;
    font-size: 18px;
    color: #43607C;
}

.confectioner-item-reviews {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #A63A50;
    border-bottom: 1px soid #A63A50;
}

.confectioner-item-desc {
    width: 240px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    color: #43607C;
}

.product-confectioner {
    margin-top: 80px;
}

.product-confectioner-about {
    gap: 50px;
}

.product-confectioner-info {
    gap: 10px;
}

.product-confectioner-name {
    font-weight: 700;
    font-size: 20px;
    color: #43607C;
}

.product-confectioner-city {
    margin-top: 2px;
    font-size: 14px;
    color: #84A6C2;
}

.product-confectioner-link {
    display: block;
    width: 259px;
    margin-top: 15px;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    background-color: #FDAD6D;
    border: 1px solid #FDAD6D;
    border-radius: 50px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #5E2D07;
}

.confectioner-item-tags {
    gap: 2px;
    width: fit-content;
    margin: 0 auto;
}

